<html lang="zh-cn" class="am-touch js cssanimations"><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<title>购物车</title>
<meta name="description" content="">
<meta name="keywords" content="">

<link href="http://static.winxuancdn.com/cms/assets/styles/wxwebapp2.0/app.css?t=2017081417139" rel="stylesheet" type="text/css">
<link href="http://static.winxuancdn.com/cms/assets/styles/wxwebapp2.0/form.css?t=2017081417139" rel="stylesheet" type="text/css">
<link href="http://static.winxuancdn.com/cms/assets/styles/wxwebapp2.0/mods/wa-head-secondary.css?t=2017081417139" rel="stylesheet" type="text/css">
<link href="http://static.winxuancdn.com/cms/assets/styles/wxwebapp2.0/mods/wa-bottom-control.css?t=2017081417139" rel="stylesheet" type="text/css">
<link href="http://static.winxuancdn.com/cms/assets/styles/wxwebapp2.0/mods/wa-shoppingcart.css?t=2017081417139" rel="stylesheet" type="text/css">
	
<script src="http://static.winxuancdn.com/cms/??assets/js/wxwebapp2.0/jquery.min.js,assets/js/wxwebapp2.0/amazeui.min.js,assets/js/wxwebapp2.0/imagescompress.js,assets/js/library/seajs/2.2.1/sea.js,assets/js/wxwebapp2.0/seajs.config.js,assets/js/wxwebapp2.0/lazy.js?2017081417139"></script>
</head>
<body>
<!-- 购物车顶部条 -->
<div class="module wa-head-secondary shadow">
	<div class="head-box">
		<a href="javascript:history.go(-1);" class="back"><span class="iconfont"></span></a>
		<div class="cont J_listItemCont"><h2>购物车(1)</h2></div>
		<a href="javascript:;" class="edit J_editState" data-editstatus="done"><span>编辑</span></a>
	</div>
</div>
<div class="wa-head-height"></div>
<!-- 购物车顶部条 end -->
	
<!-- 购物车静态预览页 -->
<div class="module wa-shoppingcart">
	<div class="cart-box J_cart">
		
	    
	    
	    
	    	
	    
	    
		
			
		
		
		
	    <div class="group shadow" data-group="1-13101">
			<div class="all-bar cf">
				<label class="form-checkbox">
					<input type="checkbox" checked="" data-group="1-13101" class="J_selectAll" data-multi="true">
					<i class="iconfont"></i>
				</label>
				<div class="txt"><i class="iconfont"></i><b>文轩现货</b></div>
			</div>
			<div class="prom-bar cf">
			    
				    
						<a href="javascript:;"><i>满减</i><b class="J_promsg"> 再购买活动商品66.00元,可减10元现金</b></a>
					
				
			</div>
			<ul class="cart-list cf">
			    
			    
			    <li class="cf J_listItem" data-proid="1201569804">
					
					<div class="scrollbar-box"><div class="scrollbar J_listItemMain">
							<label class="form-checkbox">
								<input type="checkbox" checked="" data-group="1-13101" class="J_listItemCheck">
								<i class="iconfont"></i>
							</label>
							<div class="item item-cart">
								<div class="img"><a href="http://m.winxuan.com/product/1201569804"><img src="http://img0.winxuancdn.com/4672/1201554672_11_1.jpg?1504645337521"></a></div>
				                <h3 class="name"><a href="http://m.winxuan.com/product/1201569804">世界著名中学办学之道</a></h3>
				                <div class="price"><span class="price-n">￥23.90</span><span class="price-o">￥38.00</span></div>
				                
				                <div class="form-num"><button class="btn-2 b-1 iconfont J_listItemBtn" data-ctype="subItem" data-widget="editItem"></button><input type="text" class="i-2 J_listItemInput" data-pristval="1" value="1" data-orignval="1"><button class="btn-2 b-2 iconfont J_listItemBtn" data-ctype="addItem" data-widget="editItem"></button>
				                
				                
				                
				                
				                	<span class="limit" style="display:none;"><b class="J_stock">9</b></span>
				                
				                
				                </div>
							</div>
						<div class="overlay J_listItemCover" style="display: none;"></div></div><div class="active-btn"><span class="fav J_listItemBtn" data-widget="addFavor">移入<br>收藏</span><span class="del J_listItemBtn" data-widget="delItem">删除</span></div><div class="disabled"></div></div>
				</li>
				
			    
			</ul>
		</div>
	    
	    
		<!-- 清除下架商品 end -->
		
		<!-- 总计条(默认) -->
		<div class="totalbar J_balanceMod ">
			<div class="right">
					<div class="total"><span class="s1">合计：<s><b class="J_totalfee">￥23.90</b></s><i>已优惠：<b class="J_discont">￥0.00</b></i></span></div>
				<button class="submit">结算(<b>0</b>)</button>
			</div>
		</div>
		<!-- 总计条(默认) end -->
		
		<!-- 总计条(编辑) -->
		<div class="totalbar J_editMod hide">
			<div class="left">
				<label class="form-checkbox">
					<input type="checkbox" class="J_selectAll">
					<i class="iconfont"></i>
				</label>
				<b>全选</b>
			</div>
			<div class="right">
				<!-- 编辑状态 -->
				<div class="edit"><a href="javascript:;" class="fav J_listItemBtn" data-multi="true" data-widget="addFavor">移入收藏</a><a href="javascript:;" class="del J_listItemBtn" data-multi="true" data-widget="delItem">删除</a></div>
				<!-- 编辑状态 end -->
			</div>
		</div>
		
		<!-- 总计条(编辑) end -->
		
		<div class="totalbar-height"></div>
	<!-- 空购物车 -->
	<div class="empty-cart hide">
		<i class="iconfont"></i>
		<h3>购物车快饿瘪了T.T</h3>
		<h4>主人快给我挑点宝贝吧</h4>
		<a class="btn" href="http://m.winxuan.com">去逛逛</a>
	</div>
<!-- 空购物车 end -->
	</div>
</div>
<!-- 购物车静态预览页 end -->

<!-- 模态窗口(提示) -->
<div class="wa-modal" id="doc" tabindex="-1">
	<div class="modal-cont">
		<div class="icontip"><i class="iconfont"></i><b>收藏成功</b></div>
	</div>
</div>
<!-- 模态窗口(提示) end -->

<!-- 模态窗口(加载) -->
<div class="wa-modal-loading" id="loading" tabindex="-1" style="display: none;">
	<div class="modal-cont">
		<div class="loading"></div>
	</div>
</div>
<!-- 模态窗口(加载) end -->

<!-- 模态窗口(确认框) -->
<div class="wa-modal-confirm" id="J_modal" tabindex="-1">
	<div class="modal-cont">
		<div class="hd"><h4>确定要删除这<b class="J_delnum">1</b>种商品吗？</h4></div>
		<div class="btn-box am-modal-footer"><a href="javascript:;" class="canel am-modal-btn">取消</a><a href="javascript:;" class="ok am-modal-btn">删除</a></div>
	</div>
</div>
<!-- 模态窗口(确认框) end -->

<!-- 模态窗口(确认框-不同类型提示) -->
<div class="wa-modal-confirm" id="checkbox" tabindex="-1">
	<div class="modal-cont">
		<div class="hd">
			<h5>不同类型商品不能同时勾选哟~</h5>
			<h4>确定切换成这类商品吗？</h4>
		</div>
		<div class="btn-box am-modal-footer"><a href="javascript:;" class="canel am-modal-btn">取消</a><a href="javascript:;" class="ok am-modal-btn">确定</a></div>
	</div>
</div>
<!-- 模态窗口(确认框-不同类型提示) end -->
<div class="module wa-bottom-control">	<div class="control-box J_controlbox"><a href="javascript:;" class="J_buttomcontrol" data-type="index"><span class="iconfont"></span><b>首页</b></a><a href="javascript:;" class="J_buttomcontrol" data-type="catalog"><span class="iconfont"></span><b>分类搜索</b></a><a href="javascript:;" class="J_buttomcontrol active" data-type="cart"><span class="iconfont"></span><b>购物车</b></a><a href="javascript:;" class="J_buttomcontrol" data-type="ucenter"><span class="iconfont"></span><b>我的文轩</b></a>	</div></div>
<div class="wa-bottom-control-height"></div>	
	<script>
		seajs.use('cart', function(Cart){new Cart});
	</script>
<script type="text/javascript">	seajs.use('dock', function(Dock) {		new Dock({			current: 'cart'		});	});</script>
<script src="http://hm.baidu.com/hm.js?012b44bbfe8655062a76be1a83ad45e2"></script>

</body></html>