<title>首页</title>
<!--header-end-->
<div id="myCarousel" class="carousel slide" data-ride="carousel"  data-interval="3000">
   <!-- 轮播（Carousel）指标 -->
   <ol class="carousel-indicators">
	  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	  <li data-target="#myCarousel" data-slide-to="1"></li>
	  <li data-target="#myCarousel" data-slide-to="2"></li>
   </ol>   
   <!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner">
	   <div class="item active">
		 <div class="buy">
			<a href="{:U('Home/Product/pro_details')}"><img src="__PUBLIC__/Home/images/ico/1-buy.png" alt="1-buy.png"/></a>
		 </div>
		 <a href="{:U('Home/Product/pro_details')}"><img src="{$config.banner1}" alt="First slide"></a>
		
	  </div>
	  <div class="item">
			<div class="buy">
				<a href="{:U('Home/Product/pro_details')}"><img src="__PUBLIC__/Home/images/ico/1-buy2.png" alt="1-buy.png"/></a>
			</div>
	   <a href="{:U('Home/Product/pro_details')}"><img src="{$config.banner2}" alt="Second slide"></a>
	  </div>
	  <div class="item">
			<div class="buy">
				<a href="{:U('Home/Product/pro_details')}"><img src="__PUBLIC__/Home/images/ico/1-buy.png" alt="1-buy.png"/></a>
			</div>
		 <a href="{:U('Home/Product/pro_details')}"><img src="{$config.banner3}" alt="Third slide"></a>
	  </div>
	</div>
	<!-- 轮播（Carousel）导航 -->
	<a class="carousel-control left" href="#myCarousel" 
	  data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" 
	  data-slide="next">&rsaquo;</a>
</div> 
<!--container end-->

