<html class="am-touch js cssanimations"><head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<title>世界著名中学办学之道

-田爱丽 著作


-文轩网</title>
<meta name="description" content="世界著名中学办学之道,
田爱丽 著作
,华东师范大学出版社,,">
<meta name="keywords" content="世界著名中学办学之道,


,华东师范大学出版社,,">

	

	
<script src="http://static.winxuancdn.com/cms/??assets/js/wxwebapp2.0/jquery.min.js,assets/js/wxwebapp2.0/amazeui.min.js,assets/js/wxwebapp2.0/imagescompress.js,assets/js/library/seajs/2.2.1/sea.js,assets/js/wxwebapp2.0/seajs.config.js,assets/js/wxwebapp2.0/lazy.js?2017081417139"></script>
<link href="http://static.winxuancdn.com/cms/??assets/styles/wxwebapp2.0/app.css,assets/layout/grid-m100.css,assets/styles/wxwebapp2.0/mods/wa-head-detail.css,assets/styles/wxwebapp2.0/mods/wa-slider.css,assets/styles/wxwebapp2.0/form.css,assets/styles/wxwebapp2.0/mods/wa-goodsshow.css,assets/styles/wxwebapp2.0/mods/nativeShare.css,assets/styles/wxwebapp2.0/mods/wa-detail.css,assets/styles/wxwebapp2.0/mods/wa-gotop.css?2017081417139" rel="stylesheet">
</head>
<body>
	<div id="page">
		<div class="layout grid-m100 J_Layout" data-gridid="1">
			<div class="col-main">
				<div class="main-wrap J_Region" data-colname="main-wrap" data-support="100">
					<!-- 详情页顶部条 -->
					<div class="module wa-head-detail shadow-2">
						<div class="head-box">
							<a href="javascript:history.go(-1);" class="back"><span class="iconfont"></span></a>
							<div class="cont"></div>
							<div class="more" data-am-dropdown="">
								<a class="am-dropdown-toggle" data-am-dropdown-toggle=""><span class="iconfont"></span></a>
								<ul class="am-dropdown-content">
									<i class="arrow"></i>
									<li><a href="http://m.winxuan.com"><s class="iconfont"></s>首页</a></li>
									<li><a href="http://m.winxuan.com/search"><s class="iconfont"></s>分类搜索</a></li>
									<li><a href="http://m.winxuan.com/usercenter"><s class="iconfont"></s>我的文轩</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="wa-head-height"></div>
					<!-- 详情页顶部条 end -->
					<!-- 详情主体 -->
					<div class="module wa-detail">
						<div class="detail am-tabs" data-am-tabs="{noSwipe: 1}">
							<ul class="am-tabs-nav" id="ul_topbar" style="width: 277px;">
								<li class="am-active" id="li_info"><a href="#tab1">基本信息</a></li>
								<li id="li_detail"><a href="#tab2">商品详情</a></li>
								<li id="li_evaluate"><a href="#tab3">用户评价</a></li>
							</ul>
							<div class="am-tabs-bd">
								<div class="am-tab-panel am-fade am-in am-active" id="tab1">
									<!-- 基本信息 -->
									<!-- 图片切换 -->
                                    
                                    
                                    
                                        
                                        
                                    
                                        
                                        
                                    
                                        
                                        
                                    
                                        
                                        
                                            
                                            
                                        
                                    
                                        
                                        
                                    
                                        
                                        
                                    
                                        
                                        
                                    
                                        
                                        
                                    
                                        
                                        
                                    
                                        
                                        
                                    
                                        
                                        
                                    
                                        
                                        
                                    
                                    
                                    <div class="wa-slider">
										<div class="slider-box">
											<ul class="am-slides">
												<li style="float: none">
											        <img src="http://img0.winxuancdn.com/4672/1201554672_16_1.jpg?1504645337420" alt="世界著名中学办学之道">
												</li>
											</ul>
										</div>
									</div>
									<!-- 图片切换 end -->
									<!-- 商品基本信息 -->
									<div class="base-info">


										<h2 class="title">世界著名中学办学之道</h2>
										<h3 class="sub-title"></h3>
										<div class="price">
											<div class="shareLog" data-am-modal="{target: '#myShare'}">
											  <i class="iconfont"></i>
											</div>
											<span class="price-n">￥<b>23.9</b></span>
                                            <span class="price-o">￥38.0</span>
                                            
                                            <span class="z">6.29折</span>
                                            
										</div>
										<div class="author">作 者：<b><a href="http://m.winxuan.com/search?author=%E7%94%B0%E7%88%B1%E4%B8%BD" style="color:#1D66B2">田爱丽</a> 著</b></div>
										
										<div class="pub">出版社：<a href="/search?keyword=华东师范大学出版社"><b>华东师范大学出版社</b></a></div>
										
									</div>
									<!-- 商品基本信息 end -->
									<!-- 商品状态 -->
									<div class="status shadow shadow-2">
                                        <div class="prompt">
											
												
												
													<b><i class="iconfont"></i>文轩现货</b><s>70%城市次日达，机打发票</s>
												
											
                                        </div>
										<div class="sale-list">
											
												
													
													
													
													
													
													
													
													
													
													
													
													
													
												
												
												<div class="item">
													<b>限购</b><span type="20012">
													
													 
													
													❤特惠品，单笔订单数量5件内享页面文轩价 
													
													</span>
												</div>
												
											
										</div>
									</div>
									<!-- 商品状态 end -->
									<div class="buy-select shadow-2">
										<div class="form-num">
											<b>数 量：</b>
											<button class="btn-2 b-1 iconfont" data-widget="filter" data-ctype="minsub"></button>
											<input type="number" class="i-2 J_minDisc" data-type="disc" data-filter="minDiscount" value="1">
											<button class="btn-2 b-2 iconfont" data-widget="filter" data-ctype="minadd"></button>
											
											
											
											
												
												
												
													<span class="limit" style="display:none;"><b>9</b></span>
												
											
										</div>
									</div>
									<!-- 购买数量 end -->
									<!-- 商品评价详情 -->
									<div class="rowline shadow-2">
										<a href="javascript:;"> <b>商品评价</b> <span>查看评价<i class="iconfont"></i></span>
										</a>
									</div>
									<div class="rowline shadow-2">
										<a href="javascript:;"> <b>商品详情</b> <span>查看详情<i class="iconfont"></i></span>
										</a>
									</div>
									<!-- 商品评价详情 end -->
									<!-- 猜你喜欢 -->
									
									<!-- 猜你喜欢 end -->
									<!-- 上拉查看商品详情 -->
<!-- 									<div class="more-bar"> -->
<!-- 										<i class="iconfont">&#xe614;</i> <b>上拉查看商品详情</b> -->
<!-- 									</div> -->
									<!-- 上拉查看商品详情 end -->
									<!-- 基本信息 end -->
									<!-- 价格定义说明 -->
									<div class="wxhint">
								    	<p>价格说明</p>
								    	<div class="hintContent"><b>划线价:</b>
											<p>商品展示的划横线价格为出版社全国统一定价；</p>
								    	</div>
								    	<div class="hintContent"><b>折扣:</b>
											<p>页面显示的折扣数（如6.0折），是以定价为基础的价格折扣；</p>
								    	</div>
								    	<div class="hintContent"><b></b>
											<p>受系统缓存影响，商品的最终售价以订单结算页价格为准</p>
								    	</div>
									</div>
									<!-- 价格定义说明  end-->
									<!--广告说明-->
									<div class="wxhint">
										<p>关于新广告法声明</p>
										<div class="hintContent mt-2">
											<p>新广告法规定所有页面不得出现绝对化用词和功能性用词。本店非常支持新广告法，但为了不影响消费者正常购买，页面明显区域本店已在排查修改，对于不明显区域也将会逐步排查并修改，我们在此郑重声明：<span style="color:#f41e33">本店所有页面上的绝对化用词与功能性用词在此声明全部失效，不作为赔付理由。</span>因极限用词引起的任何形式的商品赔付，本店不接受且不妥协。希望消费者理解并欢迎联系客服帮助完善，也请职业打假人士高抬贵手。</p>
										</div>
									</div>
									<!--广告说明end-->
								</div>
								<div class="am-tab-panel am-fade" id="tab2">
									<!-- 商品详情 -->
<!-- 									<div id="tab5" style="position: absolute; top: 0.1rem; left: 0; right: 0; bottom: 0; overflow: auto;"> -->
<!-- 										<div style="position: relative" id="baseInfo_top"> -->
<!-- 											<div id="tab5pullDown" style="display: none"> -->
<!-- 												<i class="iconfont">&#xe614;</i> <b>下拉查看</b> -->
<!-- 											</div> -->
											<div class="am-tabs detail-tabs shadow-2" data-am-tabs="{noSwipe: 1}">
												<ul class="am-tabs-nav">
													<li class="am-active"><a href="#tab-1">内容详情</a></li>
													<li><a href="#tab-2">出版信息</a></li>
												</ul>
												<div class="am-tabs-bd">
													<div class="am-tab-panel am-fade am-in am-active" id="tab-1">
														<!-- 内容展示 -->
														
														<!-- 内容展示 end -->
													</div>
													<div class="am-tab-panel am-fade am-in " id="tab-2">

														<!-- 出版社信息 -->
														<div class="pub-info">
															<dl>
																
																	<dd>
																		<b>书 名</b><span>世界著名中学办学之道</span>
																	</dd>
																
																
																	<dd>
																		<b>作 者</b><span><a href="http://m.winxuan.com/search?author=%E7%94%B0%E7%88%B1%E4%B8%BD" style="color:#1D66B2">田爱丽</a> 著</span>
																	</dd>
																
																
																	<dd>
																		<b>出 版 社</b><span><a href="/search?keyword=华东师范大学出版社">华东师范大学出版社</a></span>
																	</dd>
																
																
																	<dd>
																		
																		
																		<b>出版时间</b><span>2017-07-31</span>
																	</dd>
																
																
																	
																	
																	
																	
																	
																	
																	
																	
																	
																	
																
																	
																	
																	
																	
																	
																	
																	
																	
																	
																	
																		
																	
																
																	
																	
																	
																	
																	
																	
																	
																	
																	
																	
																
																	
																	
																	
																	
																	
																	
																		
																	
																	
																	
																	
																	
																
																	
																	
																	
																	
																	
																	
																	
																	
																	
																	
																
																	
																		
																	
																	
																	
																	
																	
																	
																	
																	
																	
																	
																
																	
																	
																		
																	
																	
																	
																	
																	
																	
																	
																	
																	
																
																	
																	
																	
																	
																	
																	
																	
																	
																	
																	
																
																	
																	
																	
																	
																		
																	
																	
																	
																	
																	
																	
																	
																
																	
																	
																	
																	
																	
																		
																	
																	
																	
																	
																	
																	
																
																	
																	
																	
																	
																	
																	
																	
																		
																	
																	
																	
																	
																
																	
																	
																	
																	
																	
																	
																	
																	
																		
																	
																	
																	
																
																	
																	
																	
																	
																	
																	
																	
																	
																	
																	
																
																	
																	
																	
																	
																	
																	
																	
																	
																	
																	
																
																	
																	
																	
																		
																	
																	
																	
																	
																	
																	
																	
																	
																
																	
																	
																	
																	
																	
																	
																	
																	
																	
																	
																
																	
																	
																	
																	
																	
																	
																	
																	
																	
																	
																
																	
																	
																	
																	
																	
																	
																	
																	
																	
																	
																
																	
																	
																	
																	
																	
																	
																	
																	
																	
																	
																
																	
																	
																	
																	
																	
																	
																	
																	
																	
																	
																
																	
																	
																	
																	
																	
																	
																	
																	
																	
																	
																
																
																	<dd>
																		<b>ＩＳＢＮ</b><span>9787567565180</span>
																	</dd>
																
																
																	<dd>
																		<b>开 本</b><span>其他</span>
																	</dd>
																
																
																	<dd>
																		<b>页 数</b><span>235</span>
																	</dd>
																
																
																	<dd>
																		<b>字 数</b><span>209千字</span>
																	</dd>
																
																
																	<dd>
																		<b>装 帧</b><span>简装</span>
																	</dd>
																
																
																	<dd>
																		<b>印刷时间</b><span>2017-08-01</span>
																	</dd>
																
																
																	<dd>
																		<b>语 种</b><span>中文</span>
																	</dd>
																
																
																	<dd>
																		<b>版 次</b><span>1</span>
																	</dd>
																
																
																	<dd>
																		<b>印 次</b><span>1</span>
																	</dd>
																
																
															</dl>
														</div>
														<!-- 出版社信息 end -->
													</div>
												</div>
											</div>
<!-- 											<div id="tab5pullUp" style="display: none"> -->
<!-- 												<i class="iconfont">&#xe614;</i> <b>上拉查看</b> -->
<!-- 											</div> -->
<!-- 										</div> -->
<!-- 									</div> -->
								</div>
								<div class="am-tab-panel am-fade am-in" id="tab3" style="height: 560px;">
									<!-- 用户评价 -->
									<div id="tab4" style="position: absolute; top: 0.1rem; left: 0px; right: 0px; bottom: 0px; overflow: hidden;">
										<div style="position: relative; transition-property: transform; transform-origin: 0px 0px 0px; transform: translate(0px, 0px) translateZ(0px);" id="evaluate_top">
											<div id="pullDown" style="display: none">
												<i class="iconfont"></i> <b>下拉查看</b>
											</div>
											<div class="comment">
												<!-- 无评论 -->
												<div class="empty-comment" style="display: none">
													<i class="iconfont"></i>
													<h3>暂无评价</h3>
													<h4>购买后快来发表评价吧~</h4>
												</div>
												<!-- 无评论 end -->
												
												
											</div>
											<div class="more-bar" id="pullUp" style="display: none">
												<i class="iconfont"></i> <b>上拉查看更多</b>
											</div>
										</div>
									</div>
									<!-- 用户评价 end -->
								</div>
							</div>
						</div>
						<!-- 底部购物条 -->
						<div class="cart-bar">
							<div class="cart-box">
								<div class="btn-l">
									<a href="/"> <i class="iconfont"></i> <b>首页</b></a>
									<a href="javascript:;" class="" id="J_favorites">
										<i class="iconfont"></i>
										<b>收藏</b>
									</a>
									<a href="/shoppingcart"> <i class="iconfont"></i> <b>购物车</b> <s>0</s></a>
								</div>
								<div class="btn-r">
									
									
										<a href="javascript:;" class="a-1">加入购物车</a>
										<a href="/trade?params[0][productList]=1201569804*1" class="a-2">立即购买</a>
									
									<!-- 商品已下架 -->
									<a href="javascript:;" class="a-0" style="display: none">商品已下架</a>
									<!-- 商品已下架 end -->
								</div>
							</div>
						</div>
						<div class="cart-bar-height"></div>
						<!-- 底部购物条 end -->
					</div>
					<!-- 详情主体 end -->
					<!-- 模态窗口（分享）-->

					<div class="am-modal-actions-share" id="myShare">
						<div id="nativeShare" style="height: 4rem;"><div class="list clearfix"><span data-app="sinaWeibo" class="nativeShare weibo"><i></i>新浪微博</span><span data-app="QZone" class="nativeShare qzone"><i></i>QQ空间</span><span data-app="QQ" class="nativeShare qq"><i></i>QQ好友</span></div></div>
						<button class="am-btn-share am-btn-secondary-share am-btn-block-share" data-am-modal-close="">取消</button>
					</div>
					<!-- 模态窗口（分享）end-->
					<!-- 模态窗口(提示) -->
					<div class="wa-modal" id="doc" tabindex="-1">
						<div class="modal-cont">
							<div class="icontip">
								<i class="iconfont"></i><b>已添加成功</b>
							</div>
						</div>
					</div>
					<!-- 模态窗口(提示) end -->
					<!-- 回到顶部按钮 -->
					<a href="javascript:;" class="wa-gotop iconfont hide" data-am-smooth-scroll=""></a>
					<!-- 回到顶部按钮 end -->
					<!-- 模态窗口(加载) -->
					<div class="wa-modal-loading" id="loading" tabindex="-1" style="display: none;">
						<div class="modal-cont">
							<div class="loading"></div>
						</div>
					</div>
					<!-- 模态窗口(加载) end -->
				</div>
			</div>
		</div>
	</div>
<script src="http://hm.baidu.com/hm.js?012b44bbfe8655062a76be1a83ad45e2"></script>
<script type="text/javascript">
	var pId = 1201569804;
	seajs.use(['jquery','amazeui','productdetail', 'nativeShare'], function(jquery,amazeui,ProductDetail, nativeShare){new ProductDetail({productId : pId});var config = {};new nativeShare('nativeShare',config);});
</script>
<script type="text/javascript">var wechat_title = '世界著名中学办学之道',wechat_desc = '我在文轩网发现一本好书，分享给您，快来看看吧！',wechat_link = 'http://m.winxuan.com/product/1201569804',wechat_imgUrl = 'http://img0.winxuancdn.com/4672/1201554672_16_1.jpg?1504645337420';seajs.use('wxShare',function(wxShare){wxShare.init({appId:'wxb2c8dfd16ae9b2a6',timestamp:1505958312,nonceStr:'0AKuML2EKy',signature:'31b6b3d01edd7f8e0aa4b42693b1f656095f62ee'},{wechat_title:wechat_title,wechat_desc:wechat_desc,wechat_link:wechat_link,wechat_imgUrl:wechat_imgUrl});});</script>
</body></html>