<html class="am-touch js cssanimations"><head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<title>我的文轩</title>
    
<script src="http://static.winxuancdn.com/cms/??assets/js/wxwebapp2.0/jquery.min.js,assets/js/wxwebapp2.0/amazeui.min.js,assets/js/wxwebapp2.0/imagescompress.js,assets/js/library/seajs/2.2.1/sea.js,assets/js/wxwebapp2.0/seajs.config.js,assets/js/wxwebapp2.0/lazy.js?2017081417139"></script>
<link href="http://static.winxuancdn.com/cms/??assets/styles/wxwebapp2.0/app.css,assets/layout/grid-m100.css,assets/styles/wxwebapp2.0/mods/wa-goodsshow.css,assets/styles/wxwebapp2.0/mods/wa-usercenter.css,assets/styles/wxwebapp2.0/mods/wa-bottom-control.css?2017081417139" rel="stylesheet">
</head> 

<body>
<div id="page">
    <div class="layout grid-m100 J_Layout" data-gridid="1">
        <div class="col-main">
            <div class="main-wrap J_Region" data-colname="main-wrap" data-support="100">
                <!-- 用户中心 -->
                <div class="module wa-usercenter">
                    <div class="usercenter-box">
                        <!-- 主头部 -->
                        <div class="head-banner">
                            <h2 class="user">               
                            <div class="img"><img src="http://static.winxuancdn.com/goods/def_comment.png" alt=""></div>                
                            <div class="name">您好,来自于文轩网的<b>剑痕</b></div>           
                            </h2>   
                            <div class="info"><a href="http://m.winxuan.com/favorite"><span><b>0</b><s>我的收藏</s></span></a><a href="http://m.winxuan.com/footprint"><span><b>0</b><s>我的足迹</s></span></a>
                            </div>
                            <div class="set">   
                            	<a href="{:U('myaccount')}"><i class="iconfont"></i></a>   
                            </div>
                        </div>
                        <!-- 主头部 end -->
                        <!-- 我的订单 -->
                        <div class="select-box-2 mylist shadow-2">
                            <a href="http://m.winxuan.com/order">
                            	<span><s class="iconfont"></s>我的订单</span>      
                            	<b>查看全部订单<i class="iconfont"></i></b>  
                            </a>
                            <div class="cont">
                                <div class="info">
                                	<a href="http://m.winxuan.com/order?status=1">
	                                	
											<i class="iconfont"></i><span>待付款</span>
											
											
										
                                	</a>
									<a href="http://m.winxuan.com/order?status=2">
	                                	
											<i class="iconfont"></i><span>待收货</span>
											
											
										
									</a>
									<a href="http://m.winxuan.com/order?status=3"><i class="iconfont"></i><span>退款/售后</span></a>
								</div>
                            </div>
                        </div>
                        <!-- 我的订单 end -->
                        
                        <!-- 我的钱包 -->
                        <div class="select-box-2 mylist shadow-2">
                        	<a href="http://m.winxuan.com/customer/wallet">
                            	<span><s class="iconfont"></s>我的钱包</span>      
                            	<b>礼券/礼品卡等<i class="iconfont"></i></b>  
                            </a>
                            <div class="cont">
                                <div class="info">
                                	<a href="http://m.winxuan.com/customer/account">
											<p class="num"><span class="sm">￥</span>0.00<span class="sm"></span></p><span>暂存款</span>
                                	</a>
									<a href="http://m.winxuan.com/customer/presentcard/detail">
											<p class="num">0</p><span>礼品卡</span>
									</a>
									<a href="http://m.winxuan.com/customer/present/detail"><p class="num">0</p><span>礼券</span></a>
								</div>
                            </div>
                        </div>
                        <!-- 我的钱包end -->
                        
                        
                        <!-- 帮助中心 -->
                        <div class="select-box-2 myhelp shadow-2">
                            <a href="http://m.winxuan.com/cms/usercenter_help"> 
                            	<span><s class="iconfont"></s>帮助中心</span>      
                            	<b>客服电话及常见问题<i class="iconfont"></i></b>   
                            </a>
                        </div>
                        <!-- 帮助中心 end -->
                        <!-- 猜你喜欢 -->
                        <div class="select-box-2 mylike shadow-2">
                            <a href="javascript:;"> <span><s class="iconfont"></s>猜你喜欢</span>  
                            </a>
                            <div class="cont wa-goodsshow">
                                <ul class="list list-4 cf">
                                	
                                </ul>
                            </div>
                        </div>
                        <!-- 猜你喜欢 end -->
                    </div>
                </div>
                <!-- 用户中心 end -->
            </div>
        </div>
    </div>
</div>
<div class="module wa-bottom-control"><div class="control-box J_controlbox"><a href="javascript:;" class="J_buttomcontrol" data-type="index"><span class="iconfont"></span><b>首页</b></a><a href="javascript:;" class="J_buttomcontrol" data-type="catalog"><span class="iconfont"></span><b>分类搜索</b></a><a href="javascript:;" class="J_buttomcontrol" data-type="cart"><span class="iconfont"></span><b>购物车</b></a><a href="javascript:;" class="J_buttomcontrol active" data-type="ucenter"><span class="iconfont"></span><b>我的文轩</b></a>	</div></div>
<div class="wa-bottom-control-height"></div>
<script type="text/javascript">	seajs.use('dock', function(Dock) {new Dock({	current: 'ucenter'	});});</script>
<script src="http://hm.baidu.com/hm.js?012b44bbfe8655062a76be1a83ad45e2"></script>

</body></html>