{__NOLAYOUT__}
<include file="Common/meta"/>
<include file="Common/header"/>
<include file="Common/menu"/>
<title>品牌介绍列表</title>
</head>
<body>
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        介绍管理
        <span class="c-gray en">&gt;</span>
        介绍列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="text-c"> 
				
            </div>
            <div class="cl pd-5 bg-1 bk-gray mt-20">
                <span class="l"> <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="append('添加介绍','{:U(\"Admin/Brand/append\")}','800','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加简介</a> </span>
                <span class="r">共有数据：<strong>{$count}</strong> 条</span>
            </div>
            <table class="table table-border table-bordered table-bg">
                <thead>
                <tr>
                    <th scope="col" colspan="9">产品列表</th>
                </tr>
                <tr class="text-c">
                    <th width="25"><input type="checkbox" name="" value=""></th>
                    <th width="40">ID</th>                   
                    <th width="100">标题</th>
					<th width="100">内容</th>
                    <th width="100">添加时间</th>
                    <th width="100">是否引用</th>
                    <th width="100">操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name = "brand" id = "val">
                    <tr class="text-c">
                        <td><input type="checkbox" value="{$val.brand_id}" name="" class="checkid"></td>
                        <td>{$val.brand_id}</td>
						<td>{$val.title}</td>
						<td>{$val.content}</td>
                        <td>{$val.addtime|date='Y/n/d,H:i:s',###}</td>
                        <td>
                            <div id="mySwitch" class="switch">
                                <input type="checkbox" <eq name="val.state" value="1">checked</eq> />
                            </div>
                            <input  class="brand_id" type="hidden" value="{$val.brand_id}">
                        </td>
                        <td class="td-manage"><a title="编辑" href="javascript:;"
                                                 onclick="edit('简介编辑','{:U(\'Admin/Brand/edit\')}/id/{$val.brand_id}',{$val.brand_id},'800','500')"
                                                 class="ml-5" style="text-decoration:none">
                            <i class="Hui-iconfont">&#xe6df;</i></a>
                            <a title="删除" href="javascript:;"
                               onclick="del(this,{$val.brand_id})"
                               class="ml-5"
                               style="text-decoration:none">
                                <i class="Hui-iconfont">&#xe6e2;</i>
                            </a></td>
                    </tr>


                </volist>

				
                </tbody>
				
            </table>
			
        </article>


    </div>
</section>

<include file="Common/footer"/>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $(function(){

        $('.switch').on('switch-change', function (e, data) {
//            var $el = $(data.el);
            var value = data.value;
//            console.log(e, $el, value);
            var brand_id = $(this).parents('td').find('.brand_id').val();
            var state = 0;
            if(value)
            {
                state = 1;
            }

            $.post("{:U('Admin/Brand/state_change')}",
                    {brand_id:brand_id,state:state},
                    function (data) {

                        if(data.code == 1)
                        {
                            layer.alert(data.info,{end:function () {
                                location.reload();
                            }});
                        }
                        else
                        {
                            layer.alert(data.info);
                        }
                    }
            );



        });
    })

</script>


<script type="text/javascript">
    /*
        参数解释：
        title	标题
        url		请求的url
        id		需要操作的数据id
        w		弹出层宽度（缺省调默认值）
        h		弹出层高度（缺省调默认值）
    */
    /*产品-增加*/
    function append(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /*产品-删除*/
    function del(obj,id){
		<!-- alert(id); -->
        layer.confirm('确认要删除吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……
			$.ajax({
			type : 'POST' ,
			url  : "{:U('Admin/Brand/del')}",
			dataType : 'json',
			data : {brand_id : id},
			success  : function(data){
			
				if(data.code == 1)
				{
				    
					layer.msg(data.info,{icon:1,time:1000});
					$(obj).parents("tr").remove(); 
					
				}
				else
				{
					layer.alert(data.info);
				}
			
				
				<!-- layer.msg('已删除!',{icon:1,time:1000}); -->
			},
		
			
			});
            return false;
        });
    }
    /*产品-编辑*/
    function edit(title,url,id,w,h){
        layer_show(title,url,w,h);
		
    }
   /*产品-批量删除*/
   function datadel()
   {
	var select = [];
	
	$(".checkid:checked").each(function(){
		select.push($(this).val());	
	});

	console.log(select);
		$.post("{:U('Admin/Brand/del')}",{brand_id:select},function(data){
			if(data.code==1)
				{

					layer.msg(data.info,{icon:1,time:1000},function () {
                        location.reload();
                    });


				}
				else
				{
					layer.alert(data.info);
				}
		});
   }

    
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>