<!DOCTYPE html>
<html>
<head>
	<title>产品中心</title>
	<meta charset="utf-8">
	<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
</head>
<style type="text/css">
	.button{
		height: 60px;
		line-height: 60px;
		background-color: blue;
		font-size: 40px;
		text-align: center;
		color: white; 
		margin: 0 20px;
		margin-top: 20px;
	}
	#value{
		height: 100px;
		line-height: 100px;
		font-size: 60px;
	}

</style>

<body>
	<div class="button" id="choose">选择</div>
	<img id="img1" src="">
	<div class="button" id="next">下一步</div>
	<img id="img2" src="">

	<script>
		wx.config({
	    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
	    appId: "{$data['appid']}", // 必填，公众号的唯一标识
	    timestamp: "{$data['timestamp']}", // 必填，生成签名的时间戳
	    nonceStr: "{$data['nonceStr']}", // 必填，生成签名的随机串
	    signature: "{$data['signature']}",// 必填，签名，见附录1
	    jsApiList: ['chooseImage','onMenuShareTimeline','scanQRCode','uploadImage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
	});
	wx.ready(function(){
	    // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。

	   /* */

$("#choose").on('click',function(){

	wx.chooseImage({
  count: 1, // 默认9
  sizeType: ['original'],
  sourceType: ['album', 'camera'],
  success: function (res) {
  	 var tempFilePaths = res.tempFilePaths;
    var localId= res.localIds[0];
    // $("#img1").attr("src", localId);
    $('#localId').text(localId);
    //选择图片成功，上传到微信服务器
    wx.uploadImage({

	/*
	url: 'https://xxxxxxxx/index.php?g=user&m=center&a=upload', //仅为示例，非真实的接口地址
         filePath: imglist[0],
         name: 'files',
         formData: {
          'wtid': res.data
         },
         header: app.globalData.header,

*/
        url: 'https://zhousy.5awo.com/Weixin/Index/upload', //仅为示例，非真实的接口地址
         filePath: tempFilePaths,
         name: 'files',

      // localId: localId, // 需要上传的图片的本地ID，由chooseImage接口获得
      isShowProgressTips: 1, // 默认为1，显示进度提示
      success: function (res) {
        var serverId = res.serverId; // 返回图片的服务器端ID
        $('#serverId').text(serverId);
         $("#img1").attr("src", localId);
      }
    });
  }
});

});

	 //    $("#choose").on('click',function(){
	 //    var imageid='';	
		// wx.chooseImage({
		//     count: 1, // 默认9
		//     sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
		//     sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
		//     success: function (res) {
		//         var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
		// 		 $("#img1").attr("src", localIds);
				
		       	
  //   				}
		// 	});
	 //    });

  //     $("#next").on('click',function(){
      	
  //     	var e = $("#img1").attr("src");

 	// 	wx.uploadImage({
  //               localId: e, // 需要上传的图片的本地ID，由chooseImage接口获得
  //               isShowProgressTips: 1, // 默认为1，显示进度提示
  //               success: function (res) {
  //                   mediaId = res.serverId; // 返回图片的服务器端ID
  //                   // if (rh.tostr(mediaId)) {
  //                       $("#img2").attr("src", localIds);
  //                   // }

  //               },
  //               fail: function (error) {
  //                   picPath = '';
  //                   localIds = '';
  //                   alert(Json.stringify(error));

  //               }

  //           });

  //     });
	   


	    function wxuploadImage(e) {
           alert(ass);
            wx.uploadImage({
                localId: e, // 需要上传的图片的本地ID，由chooseImage接口获得
                isShowProgressTips: 1, // 默认为1，显示进度提示
                success: function (res) {
                    mediaId = res.serverId; // 返回图片的服务器端ID
                    if (rh.tostr(mediaId)) {
                        $("#img2").attr("src", localIds);
                    }

                },
                fail: function (error) {
                    picPath = '';
                    localIds = '';
                    alert(Json.stringify(error));

                }

            });
        }

	   

	   
	});

	wx.error(function(res){
    // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
	});

	</script>
</body>
</html>