<title>完成订单</title>
<!--contain-->
<div class="complete cart">
	<div class="container">
		<ul class="car-nav row">
			<li class="col-xs-4">购物车</li>
			<li class="col-xs-4">确认订单</li>
			<li class="col-xs-4">完成订单</li>
		</ul>
		<div class="success">
			<h2 class="title"><img src="__PUBLIC__/Home/images/ico/11-confirm-title.jpg" alt="10-cart-title.jpg" />完成订单</h2>
			<div class="yes">
				<img src="__PUBLIC__/Home/images/ico/11-finlly.png" alt="11-finlly.png"/>
				<h3>您的订单已完成！</h3>
				<p>您的包裹，保证24小时内发货完毕，要注意手机提示。</p>
			</div>
		</div>
		
		<ul class="middle row">
			<li class="col-sm-3 col-xs-6">
				<img src="__PUBLIC__/Home/images/ico/12-you.png" alt="12-you.png">
				<span>79元包邮订单满79元包邮</span>
			</li>
			<li class="col-sm-3 col-xs-6">
				<img src="__PUBLIC__/Home/images/ico/12-2.png" alt="12-2.png"/>
				<span>正品保证100%的正品</span>
				
			</li>
			<li class="col-sm-3 col-xs-6">
				<img src="__PUBLIC__/Home/images/ico/12-3.png" alt="12-3.png"/>
				<span>七天退货售后保障</span>
				
			</li>
			<li class="col-sm-3 col-xs-6">
				<img src="__PUBLIC__/Home/images/ico/12-4.png" alt="12-4.png"/>
				<span>3年保修享受3年维修服务</span>
				
			</li>
		</ul>
		<div class="carry">
			<h2 class="title"><img src="__PUBLIC__/Home/images/ico/11-confirm-title.jpg" alt="10-cart-title.jpg" />继续购物</h2>
			<ul class="row">
				<li class="col-xs-4">
					<a href="{:U('Home/Product/pro_details')}"><img src="__PUBLIC__/Home/images/inner/12-pro-1.jpg" alt="12-pro-1.jpg" /></a>
				</li>
				<li class="col-xs-4">
					<a href="{:U('Home/Product/pro_details')}"><img src="__PUBLIC__/Home/images/inner/12-pro-2.jpg" alt="12-pro-2.jpg" /></a>
				</li>
				<li class="col-xs-4">
					<a href="{:U('Home/Product/pro_details')}"><img src="__PUBLIC__/Home/images/inner/12-pro-3.jpg" alt="12-pro-3.jpg" /></a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--contain-end-->
