{__NOLAYOUT__}
<include file="Common/meta" />

</head>
<body>
<article class="cl pd-20">
	<form action="" method="post" class="form form-horizontal" id="form-admin-role-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$role.role_name}" placeholder="" id="role_name" name="roleName" datatype="*4-16" nullmsg="用户账户不能为空">
				<input type="hidden" id="role_id" value="{$role.role_id}">
				
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">角色：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<volist name="list" id="val" >
				<dl class="permission-list">
					<dt>
						<label>
							<input type="checkbox" value="{$val.auth_id}" class = "ids" name="user-Character-0" id="user-Character-0" <in name="val.auth_id" value="$ids">checked</in> >
							{$val.auth_name}</label>
					</dt>

					<dd>
						<dl class="cl permission-list2">
						  <volist name="val['son']" id="son">
							<dt>
								<label class="">
									<input type="checkbox" value="{$son.auth_id}" class = "ids" name="user-Character-0-0" id="user-Character-0-0"  <in name="son.auth_id" value="$ids">checked</in>>
									{$son.auth_name}</label>
							</dt>
						  </volist>
						</dl>
						
					</dd>

				</dl>
				</volist>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button type="button" class="btn btn-success radius" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
			</div>
		</div>
	</form>
</article>

<include file="Common/footer"/>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	$(".permission-list dt input:checkbox").click(function(){
		$(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
	});

    $(".permission-list2 input").click(function(){
        var len;
        $(this).parents('.permission-list2 dt').each(function(){
            len =  $(this).parents('.permission-list2').find('input:checked').length;
        
        });

        if(len>0){
            $(this).parents('.permission-list').find('dt input').eq(0).prop('checked',true);
        }else{
            $(this).parents('.permission-list').find('dt input').eq(0).prop('checked',false);
        }
        console.log(len);
     

    });


});
</script>
<script>
	$('.btn-success').click(function(){
		
		var role_id = $("#role_id").val();
		
		var role_name = $("#role_name").val();
		if(role_name == '' )
		{
			layer.alert('角色名称不能为空!');
			return false;	
		}
	
		var ids = [];
		$('.ids:checked').each(function(){
			
		ids.push($(this).val());
			
		});
		
		
		$.post("{:U('Admin/Role/edit')}",{role_id:role_id,role_name:role_name,ids:ids},function(data){
			
			
				layer.alert(data.info,{end:function(){
					var index = parent.layer.getFrameIndex(window.name);
                    parent.$('.btn-refresh').click();
                    parent.layer.close(index);
				}});
			
		
	});
			
	
	});
	
	
</script>


<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>