<title>品牌介绍</title>
<!--contain-->
<div class="barnd">
	<div class="container">
		<div class="pic">
			<img src="__PUBLIC__/Home/images/ad/2-brand_introduction.jpg" alt="2-brand_introduction.jpg" />
		</div>
		<div class="content">
			<!--title-->
			<div class="title">
				<h3><span>品牌介绍</span></h3>
				<h4>Brand introduction</h4>
				<!--当前位置-->
				<p>
					当前位置 : <a href="{:U('Home/Index/index')}">首页</a>>品牌介绍

				</p>
				<!--当前位置-->
			</div>
			<!--title-end-->
			<div class="text">
				{$brand}
			</div>
		</div>
	</div>
</div>
<!--contain-end-->

