<!--footer-->
		<div class="child footer">
			<ul class="container">
				<li>
					<!--<a href="javasrcipt:;"><img src="__PUBLIC__/Home/images/common/footer_QQ.png" alt="QQ"/></a>-->
					<!--<a href="javasrcipt:;"><img src="__PUBLIC__/Home/images/common/footer_weibo.png" alt="weibo"/></a>-->
					<!--<a href="javasrcipt:;"><img src="__PUBLIC__/Home/images/common/footer_weixin.png" alt="weixin"/></a>-->
					<div class="bdsharebuttonbox">
						<a href="#" class="bds_more" data-cmd="more"></a>
						<a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
						<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
						<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
					</div>
					<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
					</li>
				<li>{$config.copyright}</li>
			</ul>
		</div>  
		<!--footer-end-->
		</form>
		
		<script type="text/javascript">
		
			$.cxSelect.defaults.url = 'js/cityData.min.json';
			
			$('#city_china').cxSelect({
				selects: ['province', 'city', 'area']
			});
			
			$('#city_china_val').cxSelect({
				selects: ['province', 'city', 'area'],
				nodata: 'none'
			});
		</script>
	</body>
</html>
