<div class="pic">
    <a href="{:U('Home/Product/pro_details')}"><img src="__PUBLIC__/Home/images/inner/13-top.jpg" alt="13-top.jpg" /></a>
</div>
<div class="detail">
    <ul class="top row">
        <li class="col-sm-2 col-xs-6 <eq name="Think.ACTION_NAME" value="order">default</eq> " ><span><a href="{:U('Home/Center/order')}">我的订单</a></span></li>
        <li class="col-sm-2 col-xs-6  <eq name="Think.ACTION_NAME" value="order_details">default</eq>"><span><a href="{:U('Home/Center/order_details')}">订单详情</a></span></li>
        <li class="col-sm-2 col-xs-6  <eq name="Think.ACTION_NAME" value="user">default</eq>"><span><a href="{:U('Home/Center/user')}">最近动态</a></span></li>
        <li class="col-sm-2 col-xs-6 <eq name="Think.ACTION_NAME" value="viewed">default</eq>"><span><a href="{:U('Home/Center/viewed')}">已查看的</a></span></li>
    </ul>
