@charset "utf-8";
/* CSS Document */

.header>a{
	position: absolute;
}
.header>a>img{
	display: inline-block;
	margin: 0.25rem 0 0 0.35rem;
	width: 0.22rem;
	height: 0.43rem;
}
.header>h2{
	font-size: 0.36rem;
	color: #333;
	font-weight: normal;
	height: 0.88rem;
	line-height: 0.88rem;
	text-align: center;
	border-bottom: 0.01rem solid #c1c1c1;
}
/*banner*/
.content{
	padding: 0.9rem 0 1rem 0;
}
.content>.banList{
	position: relative;
	overflow: hidden;
}
.content>.banList>ul{
	position: relative;
	height: 6.4rem;
}
.content>.banList>ul>li{
	position: absolute;
	width: 100%;
	text-align: center;
}
.content>.banList>ul>li>img{
	max-width: 100%;
}
.content>.banList .circle{
	height: 0.28rem;
	position: absolute;
	left: 38%;
	bottom: 0.4rem;
}
.content>.banList .circle>li{
	width: 0.28rem;
	height: 0.28rem;
	float: left;
	background: #fff;
	border-radius: 50%;
	margin-right: 0.4rem;
}
.content>.banList .circle>li.on{
	background: #4646ef;
}
/*pro_top*/
.content>.pro_top{
	margin: 0 0 0.35rem 0.3rem;
}
.content>.pro_top>h3{
	font-size: 0.3rem;
	color: #333;
	font-weight: normal;
	display: inline-block;
	margin-top: 0.15rem;
}
.content>.pro_top>h4{
	font-size: 0.24rem;
	color: #333;
	font-weight: normal;
	display: inline-block;
	margin-bottom: 0.05rem;
}
.content>.pro_top>p>em{
	font-size: 0.22rem;
	color: #e53939;
	font-style: normal;
}
.content>.pro_top>p>span{
	font-size: 0.30rem;
	color: #e53939;
}
.content>.pro_top>p:nth-child(4){
	font-size: 0.18rem;
	color: #999;
	text-decoration: line-through;
}
.content>.pro_top>p:nth-child(4)>em{
	font-size: 0.18rem;
	color: #999;
}
.content>.pro_top>p:nth-child(4)>span{
	font-size: 0.18rem;
	color: #999;
}
.content>.pro_top>span{
	font-size: 0.2rem;
	color: #333;
	display: inline-block;
	margin: 0.1rem 1.45rem 0.3rem 0;
}
.content>.pro_top>span>b{
	font-size: 0.2rem;
	font-weight: normal;
}
.content>.pro_top>div{
	clear: left;
	overflow: hidden;
	margin-bottom: 0.13rem;
}
.content>.pro_top>div>h4{
	font-size: 0.24rem;
	color: #666;
	font-weight: normal;
	float: left;
}
.content>.pro_top>div>ul{
	float: left;
	margin-left: 0.1rem;
}
.content>.pro_top>div>ul>li{
	width: 0.65rem;
	height: 0.4rem;
	line-height: 0.4rem;
	background: #e4e4e4;
	font-size: 0.24rem;
	color: #666;
	text-align: center;
	float: left;
	margin-right: 0.12rem;
	position: relative;
}
.content>.pro_top>div>ul>li>span.on{
	background: url(../images/icon22.png) no-repeat;
	background-size: 100%;
	width: 0.25rem;
	height: 0.19rem;
	display: inline-block;
	position: absolute;
	right: 0;
}
/*pro_center*/
.content>.pro_center>ul>li{
	margin-bottom: 0.05rem;
}
.content>.pro_center>ul>li>h2{
	font-size: 0.3rem;
	color: #333;
	font-weight: normal;
	background: #f1f1f1;
	height: 0.7rem;
	line-height: 0.7rem;
	padding-left: 0.3rem;
}
.content>.pro_center>ul>li>h2>span{
	background: url(../images/icon19.png) no-repeat;
	background-size: 100%;
	display: inline-block;
	width: 0.22rem;
	height: 0.43rem;
	transform:rotate(180deg);
	float: right;
	margin: 0.15rem 0.5rem 0 0;
}
.content>.pro_center>ul>li>h2>span.on{
	transform: rotate(90deg);
}
.content>.pro_center>ul>li>ol{
	display: none;
}
.content>.pro_center>ul>li>ol>li{
	height: 0.4rem;
	line-height: 0.4rem;
	background: #999;
	margin-bottom: 0.02rem;
}
.content>.pro_center>ul>li>ol>li>a{
	display: block;
	margin-left: 0.3rem;
	font-size: 0.2rem;
}
/*pro_bottom*/
.content>.pro_bottom>h2{
	font-size: 0.24rem;
	color: #333;
	font-weight: normal;
	text-align: center;
	margin-top: 0.2rem;
}
.content>.pro_bottom>.evaluation{
	margin-left: 0.3rem;
	clear: both;
	overflow: hidden;
}
.content>.pro_bottom>.evaluation>h3{
	font-size: 0.24rem;
	color: #333;
	font-weight: normal;
	margin-bottom: 0.15rem;
}
.content>.pro_bottom>.evaluation>ul>li{
	height: 0.45rem;
	line-height: 0.45rem;
	background: #fbd4d4;
	text-align: center;
	border-radius: 0.3rem;
	float: left;
	margin: 0 0.1rem 0.1rem 0;
}
.content>.pro_bottom>.evaluation>ul>li>a{
	display: block;
	font-size: 0.24rem;
	color: #333;
	padding: 0 0.28rem;
}
.content>.pro_bottom>.eva_list{
	margin: 0 0.5rem 0 0.3rem;
	padding-bottom: 0.5rem;
}
.content>.pro_bottom>.eva_list>div>ul>li>div>img{
	width: 0.66rem;
	height: 0.6rem;
	border-radius: 50%;
}
.content>.pro_bottom>.eva_list>div>ul>li>div>b{
	font-size: 0.2rem;
	color: #666;
	font-weight: normal;
	position: relative;
	bottom: 0.25rem;
	margin-left: 0.2rem;
}
.content>.pro_bottom>.eva_list>div>ul>li>div>span>em{
	background: url(../images/icon24.png) no-repeat;
	background-size: 100%;
	display: inline-block;
	width: 0.37rem;
	height: 0.35rem;
	margin-right: 0.03rem;
}
.content>.pro_bottom>.eva_list>div>ul>li{
	display: none;
}
.content>.pro_bottom>.eva_list>div:nth-child(1)>ul>li:nth-child(1){
	display: block;
}
.content>.pro_bottom>.eva_list>div>ul>li>div{
	margin: 0.2rem 0 0.1rem;
}
.content>.pro_bottom>.eva_list>div>ul>li>div>span{
	position: relative;
	bottom: 0.15rem;
	margin-left: 0.2rem;
}
.content>.pro_bottom>.eva_list>div>ul>li>p{
	font-size: 0.2rem;
	color: #666;
	text-indent: 2em;
}
.content>.pro_bottom>.eva_list>div>ul>li>p>em{
	font-style: normal;
	font-size: 0.2rem;
	color: #666;
	margin: 0.2rem 0.5rem 0 -0.82rem;
	display: inline-block;
}
.content>.pro_bottom>.eva_list>div>ul>li>p>i{
	font-style: normal;
	font-size: 0.2rem;
	color: #666;
	margin-right: 0.1rem;
}
.content>.pro_bottom>.eva_list>a{
	font-size: 0.2rem;
	color: #ed3d3d;
	padding: 0 0.25rem;
	height: 0.45rem;
	line-height: 0.45rem;
	text-align: center;
	border-radius: 0.3rem;
	border: 0.01rem solid #ed3d3d;
	display: inline-block;
	margin-left: 2.3rem;
	margin-top: 0.4rem;
}
/*footer*/
.footer>.pro_nav{
	border-top: 0.01rem solid #d9d9d9;
}
.footer>.pro_nav>ul>li{
	float: left;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	width: 1.45rem;
	border-right: 0.01rem solid #d9d9d9;
}
.footer>.pro_nav>ul>li>a{
	display: block;
	font-size: 0.24rem;
	color: #333;
}
.footer>.pro_nav>ul>li:nth-child(2){
	border-right: none;
}
.footer>.pro_nav>ul>li:nth-child(3){
	width: 2.55rem;
	background: #f3b127;
	border-right: none;
}
.footer>.pro_nav>ul>li:nth-child(3)>a{
	font-size: 0.3rem;
	color: #fff;
}
.footer>.pro_nav>ul>li:nth-child(4){
	width: 2.02rem;
	background: #dd2222;
	border-right: none;
}
.footer>.pro_nav>ul>li:nth-child(4)>a{
	font-size: 0.3rem;
	color: #fff;
}


